<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>John French - Front-End Developer</title>
	<link rel="stylesheet" media="screen" href="resources/css/app.css" />
	<link rel="stylesheet" media="screen" href="resources/css/lightgallery.min.css" />
</head>
