<header>
	<div class="row-collapse header-flex">
		<a href="#" class="f-icon">F</a>
		<a class="mobile-nav-button">
			<i data-feather="menu"></i>
			Menu
		</a>
		<nav>
			<a data-scroll href="#workSection">My Work</a>
			<a data-scroll href="#contactSection">Contact Me</a>
			<a href="https://gitlab.com/johnfrenchxyz"><i data-feather="gitlab"></i></a>
			<a href="https://twitter.com/johnfrenchxyz"><i data-feather="twitter"></i></a>
			<a class="close-nav"><i data-feather="x"></i></a>
		</nav>
	</div>
</header>
