<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script src="resources/js/smooth-scroll.js"></script>
<script src="resources/js/lightgallery.min.js"></script>
<script src="resources/js/app.js"></script>

<script>
  feather.replace()
</script>

<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
