<div class="section" id="workSection">
	<div class="row">
		<div class="title">
			My Work
		</div>
		<div class="description">
			I'm an award-winning designer and developer. I specialize in creating beautiful, accessible interfaces and experiences. I love all things JavaScript and my stylesheets cascade like a brilliant waterfall.
		</div>
	</div>
</div>

<div class="section-white">
	<div class="row">
		<div class="title">
			Currently
		</div>
		<div class="description">
			I design and build free and public tools for users all over the state of Georgia through the College of Agricultural &amp; Environmental Sciences and Cooperative Extension at the University of Georgia.
			<br />
			<br />
			Take a look at some of my projects from work as well as some side-projects.
		</div>

		<!-- Portfolio Card Container -->
		<div class="portfolio-card-container">
			<!-- UGA Extension -->
			{% include "sections/portfolio-cards/extension.njk" %}
			<!-- Shelf -->
			{% include "sections/portfolio-cards/shelf.njk" %}
			<!-- UGA CAES -->
			{% include "sections/portfolio-cards/uga-caes.njk" %}
			<!-- Extension Counties -->
			{% include "sections/portfolio-cards/extension-counties.njk" %}
		</div>

	</div>
</div>

<div class="section" id="contactSection">
	<div class="row">
		<div class="title">
			Still Here?
		</div>
		<div class="description">
			If you're still looking at this page, you could consider dropping me a note! I'd love to hear from you and possibly work together. Let's make things happen.

			<a class="button" href="mailto:hello@johnfrench.xyz"><i data-feather="mail"></i> Send Me an Email</a>

			Especially because I have so many relevant skills. ✌️

			<div class="item-tags dark-tag-cloud">
				<span class="tag">#ui</span>
				<span class="tag">#ux</span>
				<span class="tag">#javascript</span>
				<span class="tag">#vue</span>
				<span class="tag">#express</span>
				<span class="tag">#node</span>
				<span class="tag">#nunjucks</span>
				<span class="tag">#scss</span>
				<span class="tag">#css</span>
				<span class="tag">#accessibility</span>
			</div>

			<a class="button" href="resources/images/JohnFrenchResume.pdf"><i data-feather="download"></i> Download My Resume</a>
		</div>
	</div>
</div>

<div class="section-white">
	<div class="row">
		<div class="title">
			Oh, and if you're wondering who I am...
		</div>
		<div class="description">
			I love mechanical keyboards and am insufferable about it. ⌨️
			<br />
			<br />
			I've been writing and recording music since I was eleven (not all of it good). 🎸
			<br />
			<br />
			I’ve been working as a developer since 2010. I love sketching and prototyping just as much as I love diving into Node, Vue, and the like. I am passionate about accessibility and open source advocacy. I believe wholeheartedly that websites can be designed and built to be beautiful, functional, and useable for everyone. I'm also married to the amazing <a href="https://www.paigefrench.com">Paige French</a>. Together we raise three incredible daughters. 👪
		</div>
	</div>
</div>
