<!doctype html>
<html lang="en">
	{% include "partials/head.njk" %}
	<body>
		{% include "partials/header.njk" %}

		<div class="branding">
			<h1>John French</h1>
			<h2>Front-End Development and Design</h2>
		</div>

		<div class="hero">
			<div class="row hero-flex">
				<div class="f-shape clip-text clip-text-bg objblink">
					JF
				</div>
			</div>
		</div>

		{% include "sections/portfolio.njk" %}

		{% include "partials/scripts.njk" %}
</html>
