<div class="portfolio-card">
	<div class="item-image" style="background:url('resources/images/county.jpg')">

	</div>
	<a class="item-title" href="http://extension.uga.edu/county-offices/dade.html">
		<span>UGA Extension Counties</span>
		<i data-feather="link-2"></i>
	</a>
	<div class="item-description">
		In addition to my work rebuilding the main UGA Cooperative Extension site, I had to design and build a separate template that could accomodate the needs of 157 different county office websites.  No two websites are exactly the same, so I had to develop both a flexible template as well as individual components that could be customized with our CMS. It was a unique challenge, but I am pleased with the results. Ultimately, I spent a lot of time designing and building a solid UX for both the website managers and external users. You can view one of the 157 sites above.
	</div>
	<div class="item-tags">
		<span class="tag">#work</span>
		<span class="tag">#ui</span>
		<span class="tag">#ux</span>
		<span class="tag">#nunjucks</span>
		<span class="tag">#express</span>
		<span class="tag">#js</span>
		<span class="tag">#scss</span>
	</div>
</div>
