<div class="portfolio-card">
	<div class="item-image" style="background:url('resources/images/extension.jpg')">

	</div>
	<a class="item-title" href="http://www.extension.uga.edu">
		<span>UGA Extension</span>
		<i data-feather="link-2"></i>
	</a>
	<div class="item-description">
		Our team was tasked with doing a complete overhaul of the UGA Cooperative Extension website. By developing a easy-to-use modal and cookie system, we allow users to set their county and have ready access to relevant contact information. We have seen engagement from the website rise by around 20% in 2017. My responsibilities included the initial design concept, sketching, prototyping and wireframing, and the complete front-end build out. I built the front-end in Nunjucks on top of an Express.js Node application for easier templating.
	</div>
	<div class="item-tags">
		<span class="tag">#work</span>
		<span class="tag">#ui</span>
		<span class="tag">#ux</span>
		<span class="tag">#nunjucks</span>
		<span class="tag">#express</span>
		<span class="tag">#js</span>
		<span class="tag">#scss</span>
	</div>
</div>
