<div class="portfolio-card">
	<div class="item-image" style="background:url('resources/images/shelf.jpg')">

	</div>
	<a class="item-title" href="https://xd.adobe.com/view/3bf2eca3-aad5-466b-be83-ba5b04d89ca2/" target="_blank">
		<span>Shelf</span>
		<i data-feather="image"></i>
	</a>
	<div class="item-description">
		This is a passion project currently in development, in partnership with <a href="https://gabe.xyz">Gabriel Benson</a>. The idea was to create a sleek, minimal tool for managing comic book collections. We designed the app to solve a simple problem that so many other comic book apps miss: the user should instantly be able to see what is coming out soon and select comics they want to get, while keeping track of what they already have. This project is still currently in development. You can view UI mockups above or <a href="https://github.com/gabeotisbenson/shelf">take a look at the current codebase on Gabriel's GitHub</a>.
	</div>
	<div class="item-tags">
		<span class="tag">#sideProject</span>
		<span class="tag">#ui</span>
		<span class="tag">#ux</span>
		<span class="tag">#nunjucks</span>
		<span class="tag">#express</span>
		<span class="tag">#js</span>
		<span class="tag">#scss</span>
	</div>
</div>
