<div class="portfolio-card">
	<div class="item-image" style="background:url('resources/images/caes.jpeg')">

	</div>
	<a class="item-title" href="https://johnfrench.xyz/caes/public/pages/">
		<span>UGA CAES</span>
		<i data-feather="link-2"></i>
	</a>
	<div class="item-description">
		For this massive redesign, I was tasked with being project manager, principal designer, as well as front-end developer.  After an extensive UX research phase, I identified the major usability problems with the current website and designed this template to fix it. Our major goal was to increase prospective student engagement, as well as to accurately communicate the depth of areas the college encompases. The project is set to be released in the Summer of 2018, but in th meantime, you can follow the link above to view the static HTML mockups.
	</div>
	<div class="item-tags">
		<span class="tag">#work</span>
		<span class="tag">#ui</span>
		<span class="tag">#ux</span>
		<span class="tag">#nunjucks</span>
		<span class="tag">#gulp</span>
		<span class="tag">#js</span>
		<span class="tag">#scss</span>
	</div>
</div>
