// Color Variables
// ---------------

$accent: #deaa87;
$black: #000000;
$dark-gray: #333333;
$white: #ffffff;
$light-gray: #f2f2f2;
$portfolio-accent: $white;

// Breakpoints
// -----------

$phone: "(min-width: 0px) and (max-width: 639px)";
$mobile-nav: "(min-width: 0px) and (max-width: 895px)";
$tablet: "(min-width: 640px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

// HTML / Body Styles
// ------------------

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	overflow-x: hidden;
}

// Typography
// ----------

// Import Muller Bold
@font-face {
  font-family: 'Muller';
  src: url('../fonts/muller-extrabold.otf');
}

@font-face {
	font-family: 'Muller Thin';
	src: url('../fonts/muller-thin.otf');
}

// Import Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Import Quattrocenco
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400');

// Define Fonts:
$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$quattrocenco: 'Quattrocento', serif;
$muller: 'Muller', Helvetica, Arial, sans-serif;

h1, h2, h3 {
	color: $dark-gray;
}

h1 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 400;
	margin: 0;
}

h2 {
	font-family: $muller;
	font-size: 1rem;
	font-weight: 500;
	margin: .5rem 0 0 0;
}

@mixin row () {
  margin-left: auto;
  margin-right: auto;
	max-width: $max-width;
  padding: 0 .5em 0 .5em;
}

// Row Classes
// -----------

$max-width: 1400px;

.row {
	@include row;
}

.row-collapse {
	@include row;
	// Same as row, but collapses on mobile
	@media #{$phone} {
		margin: 0;
		padding: 0;
	}
}

// Button Mixin
// ------------

@mixin button($bg, $color) {
	background: $bg;
	border-radius: .5rem;
	color: $color;
	display: flex;
	align-items: center;
	font-family: $open-sans;
	font-size: 1rem;
	font-weight: bold;
	justify-content: center;
	margin: 2rem 0 3rem 0;
	max-width: 15rem;
	padding: 1.5rem 2rem;
	text-decoration: none;
	transition: 180ms ease background;
	&:hover {
		background: darken($bg, 10%);
	}
	svg {
		fill: $bg !important;
		margin-right: .5rem;
		stroke: $color !important;
	}
	// Small Screen
	@media #{$phone} {
		max-width: 100%;
	}
}

.button {
	@include button(#3e3ca2, $white);
}
