header {
	background: $dark-gray;
	position: fixed;
	width: 100%;
	z-index: 100;
	.header-flex {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}
	// F Icon
	.f-icon {
		color: $accent;
		font-family: 'Muller', 'Open Sans', Arial, sans-serif;
		font-size: 1.5rem;
		text-decoration: none;
	}
	nav {
		align-items: center;
		display: flex;
		justify-content: center;
		// Small Screen Styles
		@media #{$phone} {
			display: none;
		}
	}
	nav a, .mobile-nav-button {
		color: $white;
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: bold;
		font-size: .8rem;
		text-decoration: none;
		padding: 0 1rem;
	}
	nav a svg {
		width: 1.5rem;
	}
	// Mobile Nav Toggle Button
	.mobile-nav-button {
		cursor: pointer;
		display: none;
		@media #{$phone} {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.mobile-nav-button svg {
		margin-right: .5rem;
	}
	.close-nav {
		display: none;
	}
}

// Mobile Nav Active
.mobile-nav-active {
	background: $black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	a {
		margin: 1rem 0;
	}
	.close-nav {
		display: block !important;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
