// Branding Section
.branding {
	position: absolute;
	top: 50vh;
	left: 1rem;
	z-index: 10;
	@media #{$tablet, $phone} {
		top: 5rem;
	}
	@media #{$phone} {
		h1 {
			font-size: 1.5rem;
		}
		h2 {
			font-size: .8rem;
		}
	}
}

// Hero Section
.hero {
	width: 100vw;
	height: calc(100vh + 5.7rem);
	background: $light-gray;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.f-shape {
		font-family: $muller;
		font-size: 40rem;
		@media #{$tablet} {
			font-size: 20rem;
		}
		@media #{$phone} {
			font-size: 15rem;
		}
	}
	.clip-text {
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		line-height: 1;
    position: relative;
    display: inline-block;
	}
	.clip-text-bg {
		z-index: 0;
		background-position: center;
		background-size: cover;
		background-image: url(../../resources/images/portrait.jpg);
	}
}

@-webkit-keyframes blink {
	0% {
		-webkit-filter: contrast(1);
  	filter: contrast(1);
	}
	50% {
		-webkit-filter: contrast(3);
  	filter: contrast(3)
	}
	100% {
		-webkit-filter: contrast(1);
  	filter: contrast(1);
	}
}

// Hero Animation
// --------------

// Variables
$hero-transition-duration: 1s;
$hero-animation-duration: 10s;

@-moz-keyframes blink {
	0% {
		-webkit-filter: contrast(1);
  	filter: contrast(1);
	}
	50% {
		-webkit-filter: contrast(3);
  	filter: contrast(3);
	}
	100% {
		-webkit-filter: contrast(1);
  	filter: contrast(1);
	}
}

.objblink {
	-webkit-transition: all $hero-transition-duration ease-in-out;
  -moz-transition: all $hero-transition-duration ease-in-out;
  -o-transition: all $hero-transition-duration ease-in-out;
  -ms-transition: all $hero-transition-duration ease-in-out;
  transition: all $hero-transition-duration ease-in-out;

  -webkit-animation-direction: normal;
  -webkit-animation-duration: $hero-animation-duration;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease-in-out;

	-moz-animation-direction: normal;
	-moz-animation-duration: $hero-animation-duration;
	-moz-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-timing-function: ease-in-out;
}
