// Section Mixin
@mixin section($bg:$dark-gray, $color:$white, $section-accent: $accent) {
	background: $bg;
	padding: 8rem 0;
	.title {
		color: $color;
		font-family: $open-sans;
		font-size: .9rem;
		font-weight: bold;
		margin-bottom: 2rem;
		// Small Screen Styles
		@media #{$phone} {
			font-size: .8rem;
		}
		&::after {
    background: none repeat scroll 0 0 $section-accent;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 50px; }
	}
	.description {
		color: $color;
		font-family: $quattrocenco;
		font-size: 2rem;
		width: 75%;
		// Small Screen Styles
		@media #{$phone} {
			font-size: 1.2rem;
			width: 100%;
		}
		svg {
			fill: $section-accent;
			stroke: $section-accent;
		}
	}
}

// Tag Cloud Mixin
@mixin tag-cloud($container-bg, $tag-bg, $tag-color) {
	background: $container-bg;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	.tag {
		background: $tag-bg;
		border-radius: .25rem;
		color: $tag-color;
		font-family: $open-sans;
		font-size: .8rem;
		margin: .25rem;
		padding: .5rem;
	}
}

// Section Styles
.section {
	@include section;
}

.section-white {
	@include section($white, $dark-gray, $accent);
	a {
		color: #3e3ca2;
	}
}

// Portfolio Card Container
// ------------------------

.portfolio-card-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 5rem 1rem;
	.portfolio-card {
		background: $light-gray;
		width: 40%;
		margin: 1rem 1.5rem;
		@media #{$tablet, $phone} {
			width: 100%;
			margin: 1rem 0;
		}
	}
	.portfolio-card .item-image {
		background-position: top !important;
		background-size: cover !important;
		min-height: 15rem;
	}
	.portfolio-card .item-title {
		align-items: center;
		background: $portfolio-accent;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin: 0 -.5rem 0 -.5rem;
		padding: 1.5rem 1rem 1.5rem 1rem;
		text-decoration: none;
		transition: 180ms ease background;
		span {
			color: $dark-gray;
			text-transform: uppercase;
			flex-grow: 2;
			font-family: $muller;
			font-size: .9rem;
			letter-spacing: 3px;
			transition: 180ms ease color;
		}
		svg {
			stroke: $dark-gray;
			margin-right: .5rem;
			transition: 180ms ease stroke;
		}
	}
	.portfolio-card .item-title:hover {
		background: $dark-gray;
		span {
			color: $white;
		}
		svg {
			stroke: $white;
		}
	}
	.portfolio-card .item-description {
		font-family: $open-sans;
		font-size: .8rem;
		padding: 2rem 1rem 1rem 1rem;
	}
	.portfolio-card .item-description a {
		color: $black;
		font-weight: bold;
	}
	.portfolio-card .item-tags {
		@include tag-cloud($light-gray, darken($light-gray, 5%), darken($light-gray, 50%));
	}
}

.dark-tag-cloud {
	@include tag-cloud($dark-gray, darken($dark-gray, 10%), $light-gray);
	margin-top: 1rem;
	padding: 0;
}
