<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="{{ site.baseURL }}/assets/css/main.css">
</head>
<body>

<main id="main-content">
	<section class="measure-3 margin-3">
			<h1 class="">{{ site.title }}</h1>
			<div class="site-text-intro">{{ content }}</div>
	</section>
</main>

</body>
</html>